
#top {
    position: relative;
    background-color: #1f89ce;
    color: white;
    padding: 20px;
    margin: 0px 0px 10px 0px;
/*      height: 50px; */
}

#bottom {

    background-color: #1f89ce;
    padding: 5px;
    margin: 10px 0px 0px 0px;
    
}

#left {
    float: left;

    padding: 10px;

}

#right {
    float: right;
    background-color: #e8f8ff;
    padding: 5px;
/*     width: 150px; */
}

.center_content {
    position: relative;
    background-color: #f0f0f0;
    padding: 5px;
/*     height: 310px; */
}

.left_content {
    background-color: #f0f0f0;
    padding: 5px;
    margin-left: 170px;
    height: 310px;
}

.right_content {
    background-color: #f0f0f0;
    padding: 5px;
    margin: 0px 170px 0px 170px;
}

#top a:link, #top a:visited {
  color: white;
  font-weight : bold;
  text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
  color: black;
  font-weight : bold;
  text-decoration : underline;
}


